<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="es">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        </head>
        <body style="width: 100%;">
                <div id="enlaces" style="position: absolute; top:70%; left:20%; font-size: 1.8em;">
                <a href="http://itransformer.es">itransformer.es</a></br>
                <a href="http://msalsas.com">msalsas.com</a></br>
                <a href="http://hoha.es">hoha.es</a>
				</div>
				<img src="/errores/error403.jpg" style="width: 100%;"></img>
        </body>
</html>
